.location-info {
	max-height: 400px;
	position: absolute;
	bottom: 30px;
	margin: 0 30px;
	
	overflow-y: auto;
	
	transition: opacity 0.5s, height 0.3s;
	-webkit-transition: opacity 0.5s, height 0.3s;
	-moz-transition: opacity 0.5s, height 0.3s;
	-o-transition: opacity 0.5s, height 0.3s;
	
	@media only screen and (min-width: $breakpoint-small) {
		margin: 0;
		bottom: 30px;
		left: 30px;
		max-width: calc(100vw - 40%);
		max-height: 600px;
	}
	
	@media only screen and (min-width: $breakpoint-medium) {
		max-width: calc(100vw - 60%);
		max-height: 700px;
	}
	
	&__body {
		padding: 30px;
		position: relative;
		box-sizing: border-box;
		margin: 0 auto;
		max-width: calc(100% - 0.01px) !important;
		background: #fff;
		
		&__name {
			margin: 0;
		}
		
		&__updated {
			font-style: italic;
			font-size: 14px;
		}
		
		&__description {
			color: black;
		}
		
		&__is-public {
			display: inline-block;
			color: white;
			padding: 10px;
		}
		
		&__tags {
			display: inline-block;
		}
	}
	
	&--closed {
		opacity: 0;
		height: 0;
	}
	
	&--open {
		opacity: 1;
		height: initial;
	}
}

.location-public {
	background-color: #1e87f0;
}

.location-private {
	background-color: #f01e1e;
}