.filters {
	&__canvas {
		background: #fff;
		color: black;
		
		@media only screen and (min-width: $breakpoint-small) {
			width: 500px;
		}
	}
	
	&__close {
		color: black !important;
	}

	&__title {
		font-size: 1.6rem;
		margin-bottom: 2rem;
		color: black;
	}
}